/.env
/functions/routes/keys/seniorproject-1-c6174-firebase-adminsdk-fbsvc-4f5d33a996.json
/.firebase/
/functions/routes/keys/seniorproject-1-c6174-firebase-adminsdk-fbsvc-4f5d33a996.json
/functions/routes/keys/seniorproject-1-c6174-firebase-adminsdk-fbsvc-5e25b5d9ee.json
/functions/routes/keys/
